@use "../../../styles/responsecss.module.scss" as *;
@reference "tailwindcss";

.hero-section {
  @apply flex justify-center items-center flex-col;

  width: 100vw;
  height: 100vh;

  @include mq(lg) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "hero-left hero-right";
  }
}

.hero-title {
  @apply text-center text-4xl text-white font-bold;

  border-right: 9px solid rgb(0, 98, 255);
  padding-right: 1rem;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.hero-left {
  grid-area: hero-left;
  @apply flex justify-center items-center flex-col;

  @include mq(lg) {
    @apply flex justify-start items-center flex-col;
  }
}

.hero-right {
  grid-area: hero-right;
  @apply flex justify-center items-center flex-col;

  @include mq(lg) {
    @apply flex justify-end items-center flex-col;
  }
}
