.my-text {
  background-image: url("/assets/aurabrain.gif");
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 121px;
}

.text-stroke {
  -webkit-text-stroke: 0.01px black;
}
