.my-text {
  background-image: url("/assets/aurabrain.gif");
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-size: 121px;

  text-align: center;
  
  -webkit-text-stroke: 0.5px rgb(71, 7, 160) ;
  paint-order: stroke markers ;

  font-weight: 900;
}